<nav>
	<ul>
		<li><a href="/"><b aria-hidden="true">🏡</b> <span>Home</span></a></li>
		<li><a href="/about/"><b aria-hidden="true">💁‍♂️</b> <span>About</span></a></li>
		<li><a href="/now/"><b aria-hidden="true">⏰</b> <span>Now</span></a></li>
		<li><a href="/archives/"><b aria-hidden="true">🗄️</b> <span>Archives</span></a></li>
		<li><a href="/feed.xml"><b aria-hidden="true">📡</b> <span>RSS</span></a></li>
	</ul>
</nav>