---
layout: default
---
<article class="md:prose-2xl max-w-none prose">
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <time class="md:text-lg text-sm" datetime="{{ date.toISOString() }}">{{ date.toDateString() }}</time>
</article>