*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg,
.eleventy-plugin-youtube-embed {
  max-width: 100%;
  height: auto;
  display: block;
  border: var(--borderWidth) solid light-dark(var(--dark), var(--light));
}

:root {
  color-scheme: light dark;
  --borderWidth: 0.1rem;
}

html,
select {
  font: 400 clamp(1rem, 0.75rem + 1.5vi, 3.25rem) / 1.5 ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  letter-spacing: -0.05rem;
  color: light-dark(var(--dark), var(--light));
  background-color: light-dark(var(--light), var(--dark));
  text-shadow: 0 0 var(--borderWidth) light-dark(var(--dark), var(--light));
}

a {
  color: light-dark(var(--dark), var(--light));
  text-underline-offset: .15rem;
  text-decoration-thickness: var(--borderWidth);

  &:hover {
    color: light-dark(black, white);
    text-shadow: 0 0 calc(var(--borderWidth) * 2) light-dark(black, white);
  }
}

body {
  margin: 0;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
    z-index: 2;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: light-dark(var(--light), var(--dark));
  border-bottom: var(--borderWidth) solid light-dark(var(--dark), var(--light));

  >div {
    max-width: 28rem;
    margin: 0 auto;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;

      &:after {
        content: ".nl";
      }
    }

    img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5em;

    }
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;

    &:hover {
      color: light-dark(black, white);
      text-shadow: 0 0 calc(var(--borderWidth) * 2) light-dark(black, white);
    }
  }
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1.1rem 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  z-index: 1;
  text-transform: lowercase;

  &:hover {
    color: light-dark(black, white);
    text-shadow: 0 0 calc(var(--borderWidth) * 2) light-dark(black, white);
  }
}

nav {
  flex-grow: 1;
}

nav>div {
  cursor: pointer;
  display: flex;

  &:before {
    content: "/";
  }

  &:after {
    content: "▾";
    margin-left: -1rem;
    color: light-dark(var(--dark), var(--light));
  }

  &:hover:after {
    color: light-dark(black, white);
    text-shadow: 0 0 calc(var(--borderWidth) * 2) light-dark(black, white);
  }

}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 28rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}



article {
  h1 {
    /* https://mastodon.social/@pepelsbey/112124066833118895 */
    font-size: 200%;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
    letter-spacing: -0.1rem;

    a {
      text-decoration: none;
    }
  }

  ol {
    padding-left: 2rem;
  }
}


blockquote {
  border-left: var(--borderWidth) solid light-dark(var(--dark), var(--light));
  padding-left: 1rem;
}

pre {
  tab-size: 2;
  border: var(--borderWidth) dotted light-dark(var(--dark), var(--light));
  padding: 1rem;
  overflow-x: auto;
  line-height: 1.25;

  @media print {
    white-space: pre-wrap;
    border: var(--borderWidth) solid #000;
  }
}

small:not(article *) {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

a[href="#main"] {
  position: absolute;
  top: -20rem;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: small;
}

a[href="#main"]:active,
a[href="#main"]:focus,
a[href="#main"]:hover {
  top: 0;
}