img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  /* color-scheme: light dark; */
  --accent: #ec622b;
}

html {
  color: CanvasText;
  background-color: Canvas;
  font: 300 clamp(1rem, 0.75rem + 1.5vi, 3.25rem) / 1.5 Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

div {
  max-width: 23rem;
  margin: 0 auto;
}

header,
aside,
footer,
article {
  padding: 1rem;
}

a {
  color: light-dark(black, white);
  text-decoration-color: var(--accent);
  text-underline-offset: .14rem;
  text-decoration-thickness: .06rem;
  transition: color .14s ease-in-out;

  &:hover {
    color: var(--accent);
    text-decoration-thickness: .08rem;
  }
}

a[href="#main"] {
  position: absolute;
  top: -20rem;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: smaller;
  background-color: light-dark(white, black);
}

a[href="#main"]:active,
a[href="#main"]:focus,
a[href="#main"]:hover {
  top: 0;
}

pre {
  background-color: light-dark(silver, black);
  tab-size: 2;
  border-radius: .5rem;
  padding: 1rem;
  overflow-x: auto;
  line-height: 1.25;

  @media print {
    white-space: pre-wrap;
    background-color: canvas;
    border: 1px solid #000;
  }
}

code {
  font-size: smaller;
}

blockquote {
  border-left: .2rem solid var(--accent);
  padding-left: 1rem;
}

header a,
footer a,
article h1 a {
  text-decoration: none;
}

header {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >a {
      align-items: center;
      display: inline-flex;
      font-weight: normal;
      span {
        padding-top: 0.15rem;
      }
    }
  }

  img {
    border-radius: 999px;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: .75rem;

    span {
      border: 0;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

nav {
  @media print {
    display: none;
  }
}

h1 {
  /* https://mastodon.social/@pepelsbey/112124066833118895 */
  font-size: 200%;
}

header,
footer,
h1,
h2,
h3,
h4 {
  letter-spacing: -0.05rem;
  font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  line-height: 1;
  color: light-dark(black, white);
}

h1 a,
h2 a,
h3 a,
h4 a {
  padding-top: 0.5rem;
}

footer {
  ul {
    font-size: smaller;
    list-style: none;
    display: flex;
    gap: .75rem;
    padding: 0;
    justify-content: space-between;

    b {
      display: none;
    }
  }
}

small:not(article *) {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}