*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  color-scheme: light dark;
  --vividorange: #ed6b2c;
  --satindeepblack: #1c1b21;
  --brilliance: #fbfbfe;
}

html {
  color: light-dark(var(--satindeepblack), var(--brilliance));
  background-color: light-dark(var(--brilliance), var(--satindeepblack));
  font: 300 clamp(1rem, 0.75rem + 1.5vi, 3.25rem) / 1.5 Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

body {
  margin: 0;
  position: relative
}

header,
article {
  padding: 1rem;
}

a:link,
a:visited {
  color: light-dark(black, white);
  text-decoration-color: var(--vividorange);
  text-underline-offset: .14rem;
  text-decoration-thickness: .06rem;
  transition: color .14s ease-in-out;

  &:hover {
    color: var(--vividorange);
    text-decoration-thickness: .08rem;
  }
}

a[href="#main"] {
  position: absolute;
  top: -20rem;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: smaller;
  background-color: light-dark(white, black);
}

a[href="#main"]:active,
a[href="#main"]:focus,
a[href="#main"]:hover {
  top: 0;
}

pre {
  background-color: light-dark(white, black);
  tab-size: 2;
  border-radius: .5rem;
  padding: 1rem;
  overflow-x: auto;
  line-height: 1.25;

  @media print {
    white-space: pre-wrap;
    border: 1px solid #000;
  }
}

code {
  font-size: smaller;
}

blockquote {
  border-left: .2rem solid var(--vividorange);
  padding-left: 1rem;
}

header>a,
header nav a,
article h1 a {
  text-decoration: none;
}

header {
  background-color: light-dark(white, black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  >a {
    align-items: center;
    display: inline-flex;
    font-weight: normal;
    span {
      padding-top: 0.15rem;
    }
  }

  img {
    border-radius: 999px;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.75rem;

    span {
      display: none;
    }
  }

  @media (min-width: 666px) {
    /* width: 27vw; */
    height: 100dvh;
    position: fixed;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    overflow: scroll;

    /* @supports (-webkit-touch-callout: none) {
      padding-left: env(safe-area-inset-left);
    } */

    nav {
      ul {
        margin: 1rem .5rem;
        gap: 0;
        flex-direction: column;

        span {
          display: inline-flex;
          padding-left: .25rem;
        }
      }
    }
  }

}

main {
  max-width: 28rem;
  @media (min-width: 666px) {
    margin-left: 27vw;
    height: 100dvh;
    padding-right: env(safe-area-inset-right);
  }
}

nav {
  @media print {
    display: none;
  }
}

h1 {
  /* https://mastodon.social/@pepelsbey/112124066833118895 */
  font-size: 200%;

  @media (min-width: 666px) {
    margin-top: .5rem;
  }
}

header>a,
h1,
h2,
h3,
h4 {
  letter-spacing: -0.05rem;
  font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  line-height: 1;
  color: light-dark(black, white);
}

h1 a,
h2 a,
h3 a,
h4 a {
  padding-top: 0.5rem;
}

small:not(article *) {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}