---
layout: default
title: "404 - Page Not Found"
description: "The file or webpage you are trying to access could not be found."
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="md:prose-2xl max-w-none sm:space-y-40 space-y-20 prose">
  <article>
    <h1>{{ title }}</h1>
    <p class="lead">{{ description }}</p>
  </article>
</div>