---
layout: default
title: "Marcel Appelman"
description: "Tall, skinny Dutch guy with a penchant for skateboarding, cycling, and nerdy computer crap."
---
  <ul class="space-y-4">

    {%- for item in collections.post reversed -%}

      <li><a href="{{ item.url }}">{{ item.data.title }}</a> <br><time class="" datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%B %d, %Y" }}</time></li>

    {%- endfor -%}
  </ul>

