:root {
  color-scheme: light dark;
  --accent: #ec622b;
}

html {
  scroll-behavior: smooth;
  background-color: Canvas;
  color: CanvasText;
  font: 200 clamp(1rem, .75rem + 1.5vi, 3.25rem)/calc(1em + .5rem) system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  @supports (-webkit-touch-callout: none) {
    font-weight: 300;
  }
}

a {
  color: CanvasText;
  text-decoration-color: var(--accent);
  text-underline-offset: .12rem;
  text-decoration-thickness: .08rem;
  transition: all .14s ease-in-out;
  &:hover {
    color: var(--accent);
    text-decoration-thickness: .12rem;
  }
}

header a, div a, footer a, article h1 a {
  text-decoration: none;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 23rem;
  margin: 0 auto;
  padding: 2vw 0;
  padding: 1rem;
}

header a {
  align-items: center;
  display: inline-flex;
  letter-spacing: .1rem;
}

header img {
  border-radius: 999px;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

article {
  margin-bottom: 4rem;
}

h1 {
  font-size: 200%;
}

h1 a, h1, h2, h3, h4 {
  letter-spacing: -2px;
  font-family: Superclarendon, Bookman Old Style, URW Bookman, URW Bookman L, Georgia Pro, Georgia, serif;
  line-height: 100%;
}

pre {
  background-color: black;
  tab-size: 2;
  border-radius: .5rem;
  padding: 1rem;
  overflow-x: auto;
  @media print {
      white-space: pre-wrap;
      background-color: canvas;
      border: 1px solid #000;
    }  
}

code {
  font-size: smaller;
}

blockquote {
  border-left: .4rem solid var(--accent);
  padding-left: 1rem;
}

div {
  text-align: center;
  @media print {
    display: none;
  }
}

div a:first-of-type:before {
  content: "«";
  margin-right: .2rem;
  display: inline-block;
}

div a:nth-of-type(2):after {
  content: "»";
  margin-left: .2rem;
  display: inline-block;
}

footer {
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  display: flex;
  @media print {
    display: none;
  }
}