@media (prefers-color-scheme: dark) {
  :root {
    --text: #e2e2e2;
    --from: #1c2126;
    --to: #2c3136;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #2c3136;
    --from: #e2e2e2;
    --to: #2c313633;
  }
}

:root {
  --accent: #ec622b;
}

* {
  line-height: calc(1em + .5rem);
}

html {
  scroll-behavior: smooth;
  background: fixed linear-gradient(var(--from), var(--to));
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: clamp(1rem, .6786rem + 1.6071vi, 3.25rem);
}

a {
  color: var(--text);
  text-decoration-color: var(--accent);
  text-underline-offset: .12rem;
  text-decoration-thickness: .08rem;
  transition-property: all;
  transition-duration: 99ms;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

a:hover {
  color: var(--accent);
  text-decoration-thickness: .12rem;
}

header a, div a, footer a, article h1 a {
  text-decoration: none;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 23rem;
  margin: 0 auto;
  padding: 2vw 0;
}

header a {
  align-items: center;
  font-weight: bold;
  display: flex;
}

header img {
  border-radius: 999px;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

article {
  margin-bottom: 4rem;
}

h1 {
  font-size: 200%;
}

h1 a, h1, h2, h3, h4 {
  line-height: 100%;
}

pre {
  background-color: var(--from);
  tab-size: 2;
  border-radius: .5rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  font-size: smaller;
}

blockquote {
  border-left: .4rem solid var(--accent);
  padding-left: 1rem;
}

div {
  text-align: center;
}

div a:first-of-type:before {
  content: "«";
  margin-right: .2rem;
  display: inline-block;
}

div a:nth-of-type(2):after {
  content: "»";
  margin-left: .2rem;
  display: inline-block;
}

footer {
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  display: flex;
}