---
layout: post
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ tag }} Blog Posts"
permalink: /{{ tag | slugify }}/
---
{% assign posts = collections[ tag ] %}
  <ul>
    {% for item in posts reversed %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
  </ul>
